.Code {
    position: relative;
    padding: 20px;
    overflow: auto;
    background: var(--code-bg);
    border: 1px solid var(--primary-color);
}

.CodeRedesigned {
    position: relative;
    padding: 20px;
    overflow: auto;
    background: var(--light-bg-redesigned);
    border: 1px solid var(--accent-redesigned);
    border-radius: 16px;
}

.copyBtn {
    position: absolute;
    top: 20px;
    right: 20px;
}

.copyIcon path {
    stroke: var(--primary-color);
}
