.InputWrapper {
    display: flex;
}

.placeholder {
    margin-right: 5px;
}

.input {
    flex-grow: 1;
    color: var(--primary-color);
    background: transparent;
    border: none;
    outline: none;

    &:focus {
        outline: none;
    }
}
